<h1><%=h @title %></h1>
<br>
<div class="row-fluid">
  <div class="span8">
    <% i = 0 %>
    <% @shots.each do |shot| %>
      <% if i%3 == 0 %>
    <div class="row-fluid">
      <% end %>    
      <% i = i + 1%>
      <div class="span4" align = "center">
        <%= image_tag shot.shot.url(:medium)%> <%=h link_to shot.caption, shot %>
      </div> <!-- span4 -->
      <% if i%3 == 0 %>
    </div> <!--fin row--></br>
      <% end %>
    <% end %>
    <% if i%3 != 0 %>
</div> <!--fin row--></br>
    <% end %>
  </div> <!-- span 8-->

  <div class="span4" align = "center">
    Extra 
  </div>
</div>

<br />
<% if user_signed_in?%>
  <%= link_to 'New Shot', new_shot_path %>
<% end %>

<div class="digg_pagination" align = "center"> 
    <div clas="page_info">
      <%= page_entries_info @shots %>
    </div>
    <%= will_paginate @shots, :container => false %>
</div>
