<p id="notice"><%= notice %></p>

<h1>
  <%= @shot.user.name%>
</h1>

<h3>
  <%= @shot.caption %>
</h3>

<%= image_tag @shot.shot.url(:medium) %>

<p>
  <b>Description:</b>
  <%= @shot.description %>
</p>

<p>
  <b>User:</b>
  <%= @shot.user_id %>
</p>

<p>
  <b>Likes:</b>
  <%= @shot.likes %>
</p>


<%= link_to 'Edit', edit_shot_path(@shot) %> |
<%= link_to 'Back', shots_path %>
